<!-- This is going to show on the answer html the input instance method -
which we coded to take the input from the form - stored it as an instance - -->
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

</head>
<body>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body justify-content-center ">
            <h1 class= "text-center">STUPID COACH</h1>
            <p><strong>Your question:</strong></p>
            <p class="mb-4"><%= @input %></p>
            <p><strong>The Coach's answer:</strong></p>
            <p><%= @output %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
